<button class="btn btn-primary" onclick="something()" >ClickMe</button>

<p id="output"></p>


<div class="output"></div>

<script type="text/javascript">
	var result = window.localStorage.getItem('total');
	$('.output').html('In your cart is ' + result +' products.');
</script>
