

<div class="row">
  <div class="col-md-9 col-md-push-3"><p align="center">.col-md-9 .col-md-push-3</p></div>
  <div class="col-md-3 col-md-pull-9"><p align="center">.col-md-3 .col-md-pull-9</p></div>
</div>