



<table class="table table-bordered"> 
<thead> 
<tr> 

<th>Name</th> 
<th></th> 
<th>Quantity</th> 
</tr> 

</thead> 
<tbody> 
<%@id_and_number_of_products.each do |k, v|%>
<tr> 

<td><%=@product.find(k).title%></td> 
<td><div class="col-xs-1 col-md-2">
    <a href="#" class="thumbnail">
      <img src="<%=@product.find(k).path_to_image %>" alt="...">
    </a>
  </div></td> 
<td><%=v%></td> 
</tr> 
<%end%>
</tbody> 
</table>