<h3>Welcome to PizzaShop</h3>



   <div class="form-inline">
    <label for="number"></label>
    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="0" onchange="aaa">
 
  <button class="btn btn-primary" onclick="something()" >ClickMe</button>
   </div>
